[Unit]
Description=ShellWise Smart Bin: Edge Vision System
After=network.target pigpiod.service
Wants=pigpiod.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=%h/ShellWise-Smart-Bin
Environment=PYTHONUNBUFFERED=1
ExecStart=%h/ShellWise-Smart-Bin/.venv/bin/python %h/ShellWise-Smart-Bin/main.py --headless
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
